*,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family:"Helvetica Neue",Helvetica,Arial,"微软雅黑",sans-serif;
}

body{
	padding:70px 0 30px;
}

.input-area{
	padding:10px 0;
}

.input-area input{
	line-height:2;
	height:auto;
	font-size:14px;
	margin:10px 0;
}

.form-signin{
	max-width:400px;
	margin:0 auto;
}

.important-tip{
	font-size:16px;
	padding:10px 0;
	text-align:center;
}

.footer{
	text-align:center;
}

.footer p{
	margin-bottom:0;
}

.input-area input {
	height: 42px;
	font-size: 14px;
	margin: 10px 0;
}
