.page-check {
    display: none;
    .navbar {
        .dropdown {
            a {
                cursor: pointer;
            }
        }
    }
    .form-selftest {
        max-width: 600px;
        margin: 0 auto;
        .page-header {
            padding-bottom: 9px;
            border-bottom: 1px solid #c0c0c0;
            margin-top: 20px;
            h3 {
                margin: 0;
            }
        }
    }
    .check-item {
        font-size: 14px;
        line-height: 18px;
        background: #666 !important;
    }
    .check-error {
        background: #d2322d !important;
    }
    ul.nav-pills li {
        padding:2px 0;
    }
}