.page-index {
    .form-setting {
        max-width: 620px;
        margin: 0 auto;
        .form-title{
            margin-bottom: 10px;
        }
        .form-control{
            font-size: 12px;
            padding: 20px 12px;
        }
        .dropdown-menu {
            li {
                a {
                    cursor: pointer;
                }
            }
        }
        .alert{
            margin-top: 30px;
        }
    }
}
